@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Header Section */
.header,
.catagories {
  margin: 25px 15%;
  /* background: red; */
}

nav {
  display: flex;
  align-items: center;
  height: 30px;
}

nav .nav_links {
  flex: 1;
  text-align: right;
}
.nav_links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

.nav_links ul li a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: 400;
  /* Line height:27px; */
  opacity: 0.8;
}

.nav_icon img {
  margin-right: 25px;
  opacity: 0.8;
  width: 30px;
  height: 28px;
}

/* Hero Section */

.main_section {
  width: 100%;
  height: calc(100vh - 30px);
  background-image: url(./images/cat.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* .main_section img {
  width: 100%;
  height: 100%;
} */

.main_section h2 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 50px;
  line-height: 72px;
}
.main_section h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

/* catagories start */

.catagories h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 60px;
}

.catagories .catagories_heading {
  margin-top: 120px;
}

.container {
  height: 270px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
  grid-gap: 50px;
  text-align: center;
}

.container .product_box {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
.container .product_box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 20px 0;
}

.container .product_box img {
  width: 100%;
  margin: 40px 0;
}
.container .product_box button {
  margin-bottom: 20px;
  background: #000;
}
.container .product_box button a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #fff;
}
/* Footer Section */

footer {
  padding: 25px 20%;
  background: #090808;
  margin-top: 200px;
  color: #fff;
  display: flex;
}

footer h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 15px 0;
}

footer p {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
/* footer h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 15px;
} */

footer .left_col {
  flex: 1;
}

.left_col p span {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  line-height: 22px;
}

.left_col p .contact_details {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-right: 15px;
}

.right_col .policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_col .policy ul li {
  list-style: none;
  margin-right: 25px;
  margin-top: 10px;
}

.right_col .policy ul li a {
  text-decoration: none;
  color: #fff;
}

.right_col .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}
.right_col .social i {
  padding: 0 15px;
}
